<p>App component</p>

<roberto-comp [status]="myStatus" (onSendData)="printDataRobertoComp($event)">
</roberto-comp>


<input type="text" [(ngModel)]="myStatus">

<ul>
  <li *ngFor="let item of ['first', 'second', 'third']; let i = index;">{{item}} {{i}}</li>
</ul>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase=" 'red' ">Red</li>
  <li *ngSwitchCase=" 'yellow' ">Yellow</li>
  <li *ngSwitchCase=" 'blue' ">Blue</li>
  <li *ngSwitchDefault>Default</li>
</ul>

<ul>
  <li *ngFor="let item of ['first', 'second', 'third']; let i = index;">

    <roberto-comp [status]="color" (onSendData)="printDataRobertoComp($event)">
    </roberto-comp>

  </li>
</ul>

<!--

  <p>----------------------</p>
  <span *ngFor="let item of ['first', 'second', 'thrid']; let i = index;">
    <roberto-comp
    *ngIf="item !== 'first'"
    [status]="item" 
    (onSendData)="printDataRobertoComp($event)">
    </roberto-comp>
  </span>
  <p>-------------------------------</p>

<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'">
  <roberto-comp
    [status]="color" 
    (onSendData)="printDataRobertoComp($event)">
    </roberto-comp>
  </li>
  <li *ngSwitchCase="'yellow'">
  <app-test3 
  [name]="color">
  </app-test3></li>
  <li *ngSwitchCase="'green'">green</li>
  <li *ngSwitchDefault>Default Orange</li>
</ul>

-->

<p>------------------------------------------------</p>

<li *ngFor="let fullName of people;">{{fullName.name}} {{fullName.lastName}}
</li>
<p>------------------------------------------------</p>



<ng-template #myVarElse>
  <p>It is my template</p>
</ng-template>

<app-test2 name="Roberto" lastName="Cuevas" (onSendFullName)="printFullName($event)">

  <p>Mi propio contenido</p>
  <button>Mi botton</button>

</app-test2>



<div *ngIf="sw else myVarElse">
  <app-test3 [test]='myStatus'>
  </app-test3>
</div>
<button (click)="sw = !sw">Show Test 3</button>
<button (click)="sw = !sw">Show Test3 Container</button>
<ng-container *ngIf="sw">
  <p>NG Container</p>
</ng-container>


<input type="string" [(ngModel)]="color">
<p [style.color]="color">
  My p with styles
</p>


<p [ngStyle]="{
  'background' : color,
  'border' : '5px gray solid'
  }">
  My p with styles
</p>

<p>-------------------------</p>

<div [class.est2]="color === 'hola'">
  My div with class
</div>

<p>-------------------------</p>

<div [ngClass]="{
    'est1': color === 'holaRojo',
    'est2': color === 'holaVerde',
    'est3': color === 'holaYellow'
  }">
  My div with ngClass
</div>

<!--Homework 4 11/08/2021-->
<p>-------------------------</p>

<ng-container *ngFor="let item of [1, 2, 3, 4]">
  <div *ngIf="item % 2 === 0 else impar">
    <p [ngStyle]="{
      'background' : 'red',
      'border' : '5px gray solid'
      }">
      {{item}}
    </p>

  </div>
  <ng-template #impar>
    <p [ngStyle]="{
      'background' : 'green',
      'border' : '5px gray solid'
    }">
      {{item}}
    </p>

  </ng-template>

</ng-container>

<p>--------------------------------</p>
<p>Class 12/08/2021</p>
<button (click)="onAddVideo()">Add Video</button>