<p>App</p>

<p>Pure: {{ data | pure}}</p>
<p>Impure: {{ data | impure}}</p>

<button (click)="data.push(10)">Add</button>
<p></p>
<button routerLink="view1"
        routerLinkActive="active-router">
  View 1
</button>
<button routerLink="view2"
        routerLinkActive="active-router">
View 2
</button>

<button routerLink="view1/view1sub2"
        routerLinkActive="active-router">
View1Sub2
</button>

<button routerLink="view3"
        routerLinkActive="active-router">
View 3
</button>

<button routerLink="admin"
        routerLinkActive="active-router">
Admin
</button>

<button routerLink="home"
        routerLinkActive="active-router">
Hom
</button>

<div style="border: 4px red solid">
        <router-outlet>

        </router-outlet>
</div>